.Catalog {
  padding-bottom: 60px;

  &-title {
    padding: 16px;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-category {
    &-skeleton {
      --width: 45vw;
      --height: 45vw;
      --border-radius: 16px;
    }
  }
}