.Category {
  &-title {
    font-size: 16px;
    font-weight: 600;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-header {
    position: sticky;
    width: 100%;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    z-index: 2;
    top: 0;
    background: var(--adm-color-background);
    border-bottom: 1px solid var(--adm-color-border);
    margin-bottom: 16px;

    &-search {
      --background: var(--tg-theme-secondary-bg-color, #e2e2e2);
    }
    
    &-nav {
      background: var(--adm-color-background);
    }
  }
}