.App {
  height: var(--tg-viewport-height);
  display: flex;
  flex-direction: column;
  // Высота навбара, чтобы он не перекрывал контент
  padding-bottom: 56px;
}

.App-body {
  flex: 1;
  padding-bottom: 56px;
  /* overflow-y: auto; */
}

.App-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  border-top: solid 1px var(--adm-color-border);
  background-color: var(--adm-color-background); 
}
