*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--tg-theme-header-bg-color);
}

#root {
  min-height: 90vh;
  padding-bottom: 90px;
}