.Products {
  &-container {
    overflow: auto;
    height: calc(100dvh - 120px - 20px - 90px);
  }

  &-header {
    height: 120px;
    background: var(--tg-theme-secondary-bg-color);
  }

  &-item {
    background: var(--tg-theme-bg-color);
    border-radius: 8px;

    &-text {
      padding: 6px 10px 0 10px;

      &-price {
        font-size: 18px;
        font-weight: 700;
        color: var(--tg-theme-accent-text-color);
        align-self: flex-start;
        border-radius: 30px;

        &::after {
          content: '₽';
          margin-left: 6px;
        }
      }
    }

    &:first-child {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-img {
      height: 400px;
      background-color: #b74e4e;
      // border-radius: 8px;
    }
  }
}